
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    color: #4f5665;
}
.container{
    max-width: 1100px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.header{
    width: 100%;
    height: 86px;
    padding: 20px 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #fffdfd;
}

a{
    color: #000;
    text-decoration: none;
}



/* Navbar*/ 
   
.navbar{
    position: relative;
    max-width: 1140px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav{
    flex: 2;
    padding-left: 60px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #333;
}
nav ul li a:hover{
    color: #ff4500;
}
.sign-in-btn{
    padding: 1.3rem 4.5rem;
    font-weight: bold;
    font-size: 18px;
    line-height: 19px;
    color: #0b1328;
}
 .btn-outlined{
    border: 1px solid  #f53855;
    color: #ff4500;
    border-radius: 1000px;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 35px;
    margin: 0 10px;
}
.btn-outlined:hover{
    background-color: #ff0000;
    color: #fff;
}

/* Section a */
.section-a{
    padding-top: 100px;
}
.section-a .container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section-a h3{
    font-size: 2.8rem;
    color:#0b132a;
    font-family: 'Rubik', sans-serif;
}
span{
    font-size: 50px;
    font-family: sans-serif;
}
.section-a p{
    margin: 1rem 0;
    font-size: 15px;
    color: #4b4444;
    line-height: 2;
}

.btn:hover{
    background-color: #242427;
}
.btn{
    display: inline-block;
    background-color: #ff4500;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 1rem 6rem;
    margin-top: 20px;
    cursor: pointer;
    box-shadow: 0 20px 40px rgb(245 56 56 / 35%);
}



/*Section-b */
.section-b{
    box-shadow: 0 10px 30px rgb(0 0 0 / 9%);
    padding: 10px;
    border-radius: 10px;
    margin-top: 40px;
}    
hr{
    height: 60px;
    float: right;
    margin-top: -70px;
    margin-right: 30px;
    border-color: rgb(0 0 0 / 9%);
}
.section-b .container{
    width: 100px;
    height: 96px;
    margin-top: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #fff;
}
.section-b .container div{
    width: 350px;
    height: 56px;
}
.section-b .container div img{
    margin-left: 2rem;
    padding: 10px 10px;

}
.section-b .container > div div{
    text-align: right;
    margin-top: -60px;    
}
.section-b .container div div p{
    margin-right: 9.2rem;
    font-size: 1.5rem;
    color: #0b1328;
}
/* Section-c */

.section-c .container{
    width: 100%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section-title{
    font-family: 'Rubik', sans-serif;
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    display: block;
    color: #0b1328;
}
.section-subtitle{
    line-height: 30px;
    color: #0b1328;
}
.section-c ul{
    list-style: none;
    display: block;
    padding-inline-start: 20px;
}
.section-c .feature-list .fa{
    color: white;
}
.feature-list{
    margin-top: 20px;
}
.feature-list li{
    margin-bottom: 20px;
    line-height: 1.4rem;
}
.feature-list i{
    position: relative;
    top: 5px;
    margin-right: 12px;
    border: 2px solid #fff;
    padding: 3px;
    border-radius: 50%;
    background-color: #66d366;
}

/* Section-d */
.section-d{
    background-color: #fbfbfb;
    margin-top: 30px;
}
.section-d .plan-features .fa{
    color: green;
}
.section-d .container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 20px;
}
.section-d .section-header{
    max-width: 555px;
    text-align: center;
    margin: 0px auto 60px;
}
.section-header .section-title{
    margin-bottom: 20px;
    color: #0b132a;
    font-size: 3.5rem;
    display: block;
}
.section-header .section-subtitle{
    line-height: 30px;
}
div .plan-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}
div .plan{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 7rem 3rem;
    align-items: center;
    border: 2px solid #dddddd;
    border-radius: 10px;
}
div .plan-border-red{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 7rem 3rem;
    align-items: center;
    border-radius: 10px;
    border: 2px solid #ff0000;
}
img{
    border-style: none;
}
.plan h3{
    margin: 30px 0px;
    display: block;
    font-weight: bold;
    font-size: 1.5rem;
    color: #0b132a;
}
.plan-border-red h3{
    margin: 30px 0px;
    display: block;
    font-weight: bold;
    font-size: 1.5rem;
    color: #0b132a;
}
.plan-features ul{
    list-style: none;
    display: block;
}
.plan-features ul li{
    margin-bottom: 20px;
}
.plan .plan-bottom{
    text-align: center;
    margin-top: auto;
}
.plan .plan-price{
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #0b132a;
    text-align: bottom;
}
.plan-border-red .plan-price{
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #0b132a;
    text-align: center;
}
.btn-meduim{
    color: #ff0000;
    border: 2px solid #ff0000;
    border-radius: 1000px;
    padding: 1.25rem 6.3rem;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}
.btn-meduim:hover{
    background-color: #ff0000;
    color: #fff;
}
.plan-features i{
    margin-right: 25px;
}



/* Section e*/
.section-e .container{
    width: 100%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 20px;
}
.section-e .title-header{
    max-width: 555px;
    text-align: center;
    margin: 0px auto 60px;
    text-align: center;
}
.section-e .title-header .title{
    max-width: 383px;
    margin: 0px auto 20px;
    font-size: 2rem;
    color: #0b132a;
}
.section-e .title-header .subtitle{
    line-height: 30px;
}
.location-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}


/* Section -f */
.section-f .container{
    margin-top: 10px;
    background-color: #fcfcfc;

}
.title-header{
    max-width: 555px;
    width: 100%;
    margin: 0px auto 60px;
    text-align: center;
}
.title-header .title{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}
.title-header .subtitle{
    line-height: 30px;
}
.customers-point{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
}
.customer-1{
    padding: 2rem 3rem;
    border: 2px solid #a59f9f;
    border-radius: 10px;
}
.customer-1-border-red{
    padding: 10px 20px;
    border: 2px solid #ff0000;
    border-radius: 10px;
}
/* Arrows */
.arrows{
    margin-top: 80px;
}
.arrows .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dots{
    display: flex;
}
.dot-red{
    background-color: #ff0000;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}
.dot-white{
    background-color: rgb(221, 221, 221);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}
.arrow-icon{
    display: flex;
}
.arrow-left{
    margin-right: 20px;
}
.arrow-icon .arrow-left, .arrow-icon .arrow-right{
    width: 60px;
    height: 60px;
    border: 2px solid #ff0000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.arrow-right{
    background-color: #ff0000;
}



/* Subscribe */
.subscribe{
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 70px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 20px 60px;
    padding: 3rem 1rem;
    border-radius: 10px;
    margin: 0px 30px 20px;
    position: relative;
    z-index: 8;
    
}

.subscribe .title{
    font-size: 2.4rem;
    margin-bottom: 20px;
    font-weight: 500;
    color: #0b132a;
}
.subscribe-btn{
    display: inline-block;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 1rem 6rem;
    margin-top: 20px;
    cursor: pointer;
    box-shadow: 0 20px 40px rgb(245 56 56 / 35%);
}

.subscribe-btn:hover{
    background-color: #242427;
}
/* footer */
footer .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 120px;
}
footer .logo{
    margin-bottom: 20px;
}

footer p{
    margin-bottom: 30px;
    margin-top: 10px;
    line-height: 30px;
}
footer .social-icons{
    margin-right: 20px;
    width: 50%;
    height: 34px;
}
.social-icons .social-icon{
    border-radius: 50%;
    border: 8px solid #fff;
    margin-right: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 1px 5px;
}

footer .social-icon img{
    width: 20px;
    height: 17px;
}
footer .font-title{
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: rgb(11, 19, 42);
}
footer ul{
    list-style: none;
}
footer ul li{
    margin-bottom: 20px;
}

@media only screen and (max-width: 700px) {
    nav{
        display: none;
    }
    .header-right{
        display: none;
    }
    .section-a .container{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 5px;
    }
    .section-a .container div:first-child{
        order: 1;
    }
    .section-a .container div:last-child{
        order: -1;
    }
    .section-a .illustration-img img{
        width: 90%;
    }
    .section-a p{
        font-size: 13px;
    }
    .section-a h3{
        margin-top: 10px;
        font-size: 2rem;
    }
    span{
        font-size: 30px;
    }
    
    
    .section-c .container{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;
    }
    .section-c .feature-left img{
        width: 80%;
    }    
    .section-c .section-title{
        font-size: 2rem;
        margin-right: 2rem;
        
    }
    .section-c .section-subtitle{
        margin: 10px 20px;
    }


    .section-d .plan-wrapper{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1rem;
        margin-left: 50px;
    }
    .section-d .section-title{
        font-size: 2rem;
    }
    .section-d .section-subtitle{
        font-size: 13px;
    }




    .section-e .title-header .title{
        font-size: 2rem;
    }
    .section-e .title-header .subtitle{
        font-size: 12px;
    }
    .location-wrapper img{
        width: 50px;
        
    }
    
    
    
    .section-f .customers-point{
        display: grid;
        grid-template-columns: 1fr;
    }
    .section-f p{
        font-size: 15px;
    }

    footer{
        display: none;
    }



}

